body{
 
  font-family: arial;
  background-color:black;
  background-size: cover;
}
.login-box{
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%,-50%);
  color:white ;
}
fieldset {
  background-color: none;
  
}

legend {
  background-color: none;
  color:white ;
  padding: 5px 10px;
  
}

input {
	display:block;
   
   width : 80%;
 outline:none;
  background:none;
  padding: 6px;
  color:white;
  border:none;
  border-bottom:2px solid white ;
  margin:0 10 px ;
  
}
button{
	border: 2px solid white;
	background:none;
	width:100%;
	color:white;
	font-size:18px;
}


